.unjargonize-jargon {
  text-decoration: underline;
  position: relative;
}

.jargon-popup {
  width: 500px;
  height: 300px;
  float: inline-end;
  z-index: 8;
  position: relative;
  top: 330px;
  border: 1px solid black;
}

.unjargonize-hide {
  display: none;
}
